[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ultralytics = "*"
numpy = "*"
scikit-image = "*"
scikit-learn = "*"
matplotlib = "*"
pillow = "*"
albumentations = "*"

[dev-packages]

[requires]
python_version = "3.10"
